<div class="row">
    <footer>
        <p><b>Karla Silva Vargas | © Argentina Programa 2023</b></p>
        <p><b><a href="#acercaDeMi">Acerca de Mi</a> | <a href="#experiencia">Experiencia Laboral</a> | <a href="#educacion">Educación</a> | <a href="#hys">Hard and Soft Skills</a> | <a href="#proyectos">Proyectos realizados</a></b></p>
        <p><b><a href="mailto:silvargaskarlaa@gmail.com">Contáctame</a> | <a href="#social">Redes Sociales</a></b></p>
        <p><b>Buenos Aires, Argentina</b></p>
    </footer>

</div>
