<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/karla.jpg" 
         class="img-fluid" id="fotodeperfil" alt="Foto Perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3 id="nombre" style="font-family:'Impact', Charcoal, Helvetica Inserat" >{{persona.nombre}} {{persona.apellido}}</h3>
        <p style="margin-left: 25%;"><b>{{persona.profesion}}</b></p>
    </div>
    <div id="acercaDe" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="acercaDeMi" style="font-family:'Impact', Charcoal, Helvetica Inserat">Acerca de mi</h1>
            <p>Lo único que necesitas es creer en ti. Ingenieria Civil de profesión, consciente en generar un ecosistema evolutivo, nutritivo y con mayor acceso a través de las 
                daily needs de los usuarios aplicadas en la tecnología</p>
        </span>
    </div>
</div>
